{% extends 'base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Rs.</div>
                </div>
                <input type="text" class="form-control" placeholder="Budget..." name="budget" required>
            </div>
        </div>
    </div>
</form>
{% endblock %}