{% extends 'base.html' %}
{% block content %}
<h1 class="display-4" align="center">Easy Hisab</h1>
<p class="lead font-italic" align="center">List of All Expenses</p>
<hr class="my-4">
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
    <tr>
        <td align="center">Expenses</td>
        <td align="center">Category</td>
        <td align="center">Date</td>
        <td align="center">Remark</td>
        <td align="center">
            <a href="{% url 'add-expenses' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Add New
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    {% for expenses in all_expenses %}
    <tr>
        <td align="center">{{expenses.price}}</td>
        <td align="center">{{expenses.category}}</td>
        <td align="center">{{expenses.date_added}}</td>
        <td align="center">{{expenses.remark}}</td>
        <td align="center">
            <a href="{% url 'update-expenses' expenses.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg"></i>
            </a>
            <form action="/deleteexpenses/{{ expenses.id }}/" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        {% if expenses == 0 %}
        <h3 align="center" class="text-muted">No Record</h3>
        {% endif %}
    </div>
</div>
<hr class="my-4">
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'home' %}" class="btn btn-secondary btn-block btn-lg">
            <i class="fas fa-home"></i> Back to Home
        </a>
    </div>
</div>
{% endblock %}
